<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body class="blah">
<div style="background-color:#333;">
 <div id="layout" >
      <%- layout %>
  </div>
  </div>
</body>
</html>